@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-narrow: "gothamXNarrow", serif;
  --font-rounded: "gothamRounded", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "gothamXNarrow", sans-serif;
}
